[submodule "overlays/switch_overlay"]
	path = overlays/switch_overlay
	url = https://gitlab.com/bell07/gentoo-switch_overlay/
[submodule "overlay_sync/waffle-builds"]
	path = overlay_sync/waffle-builds
	url = https://github.com/FlyingWaffleDev/waffle-builds
[submodule "overlay_sync/menelkir"]
	path = overlay_sync/menelkir
	url = https://gitlab.com/menelkir/gentoo-overlay.git
[submodule "overlay_sync/earshark"]
	path = overlay_sync/earshark
	url = https://github.com/Chemrat/overlay
[submodule "overlay_sync/guru"]
	path = overlay_sync/guru
	url = https://gitweb.gentoo.org/repo/proj/guru.git
[submodule "gentoo-config-files"]
	path = gentoo-config-files
	url = https://gitlab.com/bell07/gentoo-config-files
