[submodule "tools/system_chroot"]
	path = tools/system_chroot
	url = https://github.com/bell07/bashscripts-system_chroot
[submodule "overlays/switch_overlay"]
	path = overlays/switch_overlay
	url = https://gitlab.com/bell07/gentoo-switch_overlay/
[submodule "overlays/switch_binhost_overlay"]
	path = overlays/switch_binhost_overlay
	url = https://gitlab.com/bell07/gentoo-switch_binhost_overlay
[submodule "overlay_sync/waffle-builds"]
	path = overlay_sync/waffle-builds
	url = https://github.com/FlyingWaffleDev/waffle-builds
[submodule "overlay_sync/menelkir"]
	path = overlay_sync/menelkir
	url = https://gitlab.com/menelkir/gentoo-overlay.git
[submodule "overlay_sync/bell07_overlay"]
	path = overlay_sync/bell07_overlay
	url = https://github.com/bell07/gentoo-bell07_overlay
[submodule "overlay_sync/earshark"]
	path = overlay_sync/earshark
	url = https://github.com/Chemrat/overlay
[submodule "overlay_sync/x11"]
	path = overlay_sync/x11
	url = https://github.com/gentoo-mirror/x11.git
[submodule "gentoo-config-files"]
	path = gentoo-config-files
	url = ./gentoo-config-files
