[submodule "tools/system_chroot"]
	path = tools/system_chroot
	url = https://github.com/bell07/bashscripts-system_chroot
[submodule "switch_overlay"]
	path = tools/switch_overlay
	url = https://github.com/bell07/gentoo-switch_overlay
